<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${name}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/js/jquery-2.1.0.js"/>
    <script src="/js/jquery.dataTables-1.10.0.js"/>
    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.css"></link>

    <script language="JavaScript">
    $(document).ready(function() {
    $('#table_namespace').dataTable( {
        "ajax": {
            "url":"/rest/namespace",
            "dataSrc": "",
            "type": "GET"
        },
        "columns": [
            { "data": "code" },
            { "data": "name" },
            { "data": "description" }
        ]
    } );
    } );
    </script>
</head>
<body>
<p th:text="'Page:' + ${name} + '!'" />
<table id="table_namespace">
    <thead>
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
</body>
</html>